{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- about -->
{{ if $data.about.about.enable }}
{{ with $data.about.about }}
<section class="about-page section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<img src="{{ .image | absURL }}" alt="" class="img-fluid">
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-lg-6">
				<h2 class="mb-4 text-lg title">{{ .title | markdownify }}</h2>
			</div>
			<div class="col-lg-6">
				<p>{{ .content | markdownify }}</p>
        <a href="https://2020.textxd.org/program/agenda/" class="btn btn-hero btn-rounded">2020</a>
        <a href="https://2019.textxd.org/2019/program/" class="btn btn-hero btn-rounded">2019</a>
        <a href="http://2018.textxd.org/programs/textxd2018/" class="btn btn-hero btn-rounded">2018</a>

			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}
<!-- /about -->


<!-- sponsor -->
{{ if $data.about.sponsor.enable }}
{{ partial "sponsor.html" . }}
{{ end }}
<!-- /sponsor -->

<!-- feature -->
{{ if $data.about.feature.enable }}
{{ with $data.about.feature }}
<section class="section cta-wrap bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="cta-content">
          <span class="lead">{{ .subtitle | markdownify }}</span>
          <h2 class="mt-3 mb-4 text-md title">{{ .title | markdownify }}</h2>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | absURL }}" class="btn btn-secondary btn-rounded my-4">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row">
          {{ range .feature_item }}
          <div class="col-md-6 mb-4">
            <div class="feature-item" style="background-color: {{if .bg_color}}{{.bg_color}}{{else}}#343a40{{end}};">
              <i class="{{ .icon }}"></i>
              <h4 class="mt-3 mb-3">{{ .title | markdownify }}</h4>
              <p>{{ .content | markdownify }}</p>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /feature -->

<!-- /Organizers -->

<section class="speaker-2 section bg-gray">
  <div class="container">
    <div class="row section-heading">
      <div class="col-lg-6">
            <div class="heading">
            <span class="stroke-text">Organizers</span>
            <div class="pl-90 content">
          <h2 id="whore-speaking">Organizing Committee</h2>
          <p>Below are the NLP and data researchers who are planning TextXD 2022 </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="speaker-block style-2 mb-5">
          <div class="img-block">
            <img src="/images/people/niek.jpg" alt="niek" class="img-fluid rounded-circle">
            <ul class="list-inline speaker-social">
              <li class="list-inline-item"><a href="https://github.com/niekveldhuis"><i class="tf-ion-social-github"></i></a></li>
            </ul>
          </div>  
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3"><a href="https://melc.berkeley.edu/Web_Veldhuis/">Niek Veldhuis</a></h4>
            <p>Professor of Assyriology</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="speaker-block style-2 mb-5">
          <div class="img-block">
            <img src="/images/people/heather.jpg" alt="Heather Haveman" class="img-fluid rounded-circle">
            <ul class="list-inline speaker-social">
              <li class="list-inline-item"><a href="https://github.com/niekveldhuis"><i class="tf-ion-social-github"></i></a></li>
            </ul>
          </div>  
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3"><a href="https://melc.berkeley.edu/Web_Veldhuis/">Heather Haveman</a></h4>
            <p>Professor of Sociology and Business</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="speaker-block style-2 mb-5">
          <div class="img-block">
            <img src="/images/people/tim.jpg" alt="Tim" class="img-fluid rounded-circle">
            <ul class="list-inline speaker-social">
              <li class="list-inline-item"><a href="https://twitter.com/tango63?lang=en"><i class="tf-ion-social-twitter"></i></a></li>
            </ul>
          </div>  
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3"><a href="">Tim Tangherlini </a></h4>
            <p>Professor of Folklore</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="speaker-block style-2 mb-5">
          <div class="img-block">
            <img src="/images/people/maryam.jpg" alt="maryam" class="img-fluid rounded-circle">
            <ul class="list-inline speaker-social">
              <li class="list-inline-item"><a href="https://twitter.com/maryamvareth?lang=en"><i class="tf-ion-social-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/maryam-vareth-phd/"><i class="tf-ion-social-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/maryamv"><i class="tf-ion-social-github"></i></a></li>
            </ul>
          </div>  
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3"><a href="https://bids.berkeley.edu/people/maryam-vareth">Maryam Vareth</a></h4>
            <p>Research Lead of Health and Life Sciences</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="speaker-block style-2 mb-5">
          <div class="img-block">
            <img src="/images/people/illya.jpg" alt="Ilya" class="img-fluid rounded-circle">
            <ul class="list-inline speaker-social">
              <li class="list-inline-item"><a href="https://github.com/ilyaakdemir"><i class="tf-ion-social-github"></i></a></li>
            </ul>
          </div>  
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3"><a href="">Ilya Akdemir</a></h4>
            <p>Graduate Student in School of Law</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="speaker-block style-2 mb-5">
          <div class="img-block">
            <img src="/images/people/ciera.jpg" height="300" alt="niek" class="img-fluid rounded-circle">
            <ul class="list-inline speaker-social">
              <li class="list-inline-item"><a href="https://github.com/iamciera"><i class="tf-ion-social-github"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/cierareports"><i class="tf-ion-social-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/ciera-martinez-phd-b77432120/"><i class="tf-ion-social-linkedin"></i></a></li>
            </ul>
          </div>  
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3"><a href="http://cierareports.org">Ciera Martinez</a></h4>
            <p>Research Lead of Biology and Enviromental Science</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="speaker-block style-2 mb-5">
          <div class="img-block">
            <img src="/images/people/issac.jpg" alt="niek" class="img-fluid rounded-circle">
            <ul class="list-inline speaker-social">
              <li class="list-inline-item"><a href="https://github.com/niekveldhuis"><i class="tf-ion-social-github"></i></a></li>
            </ul>
          </div>  
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3"><a href="https://melc.berkeley.edu/Web_Veldhuis/">Isaac Dalke</a></h4>
            <p>Graduate Student of Sociology</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{ end }}